.modal-80w {
    min-width: 80%;
}

.carousel-control-next-icon:after {
    content: "▶";
    color: #007bff
}

.carousel-control-prev-icon:after {
    content: "◀";
    color: #007bff
}

.carousel-indicators li {
    background-color: #007bff !important;
}