.modal-80w {
    min-width: 80%;
}

.carousel-control-next-icon:after {
    content: "▶";
    color: blue;
}

.carousel-control-prev-icon:after {
    content: "◀";
    color: blue;
}

.carousel-indicators li {
    background-color: blue !important;
}